
form label {
    margin-top: 1em;
    margin-bottom: 0.4em;
    width: 100%;
    display: block;
}

form input[type="text"] {
    height: 2em;
}

form input[type="text"]:focus {
    border-color: #378FFF;
}

form .row input[type="text"] {
    flex-grow: 1;
}

form input[type="text"].wide {
    width: 100%;
}

form textarea {
    height: 8em;
    width: 100%;
}

.button-bar.wide {
    margin-top: 1em;
    width: 100%;
}

.button-bar.wide button {
    width: 100%;
}