
.carousel {
    width: 100%;
    padding: 0 60px;
    height: 70vh;
}

.card-container {
    color: #EFEFEF;
    height: auto !important;
}

.card-image {
    display: block;
    clear: none;
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

.card-image img {
    position: relative;
    max-height: 90%;
    max-width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-header {
    font-size: 1.6em;
    padding-bottom: 10px;
    font-weight: 700;
    width: 100%;
    text-decoration: underline;
}

.card-sub {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.card-tag {
    padding: 0.2em 0.4em;
    margin-left: 0.4em;
    margin-top: 0.4em;
    font-size: 1rem;
    text-align: center;
}

.arrow-button {
    display: block;
    position: absolute;
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    width: 5em;
    height: 6em;
    top: 50%;
}

.arrow-button::selection {
    border: 1px solid #E80C7A;
}

.arrow-button:focus {
    border: 1px solid #E80C7A;
}

.arrow-button:active {
    outline: none !important;
    border: none;
}

.arrow-next {
    right: 2vw;
}

.arrow-prev {
    left: 2vw;
}

i.arrow {
    border: solid #2E2E2E;
    border-width: 0 1em 1em 0;
    display: inline-block;
    padding: 1em;
}

i.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

@media screen and (max-width: 560px) {
    .carousel {
        padding: 0 20px;
    }

    .arrow-button {
        width: 3em;
    }

    .arrow-next {
        right: 0.5vw;
    }

    .arrow-prev {
        left: 0.5vw;
    }

    i.arrow {
        border-width: 0 0.5em 0.5em 0;
        padding: 0.5em;
    }

}