.carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 100px;
}

.card-container {
    height: 50vh;
    width: 60vw;
    position: relative;
    margin: 22px 0;
}

.card-container:focus {
    outline: none;
}

.card-image {
    display: block;
    clear: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sub-container {
    display: block;
    position: relative;
    z-index: 10;
    bottom: 0;
    right: 0;
    height: 80px;
    margin-top: -74px;
}

a.card-image:focus {
    outline: none !important;
}

.card-image img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

.card-header {
    display: none;
    height: 0;
}

.card-sub {
    width: 100%;
    height: 80px;;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.card-tag {
    padding: 0.2em 0.4em;
    margin-left: 0.4em;
    margin-top: 0.4em;
    font-size: 1rem;
    text-align: center;
    box-shadow: 3px 3px 2px 0px #36363670
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
}

@media only screen and (max-width: 560px) {
    .card-container {
        width: 94%;
    }
}

@media only screen and (max-width: 300px) {

}