
.navbar {
    padding: 18px;
    height: 116px;
    box-sizing: border-box;
}

.navheader {
    font-weight: 300;
    font-size: 2.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: default;
}


.navitems {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navitem {
    margin-right: 24px;
}

.navicons {
    cursor: default;
}

a:hover i {
    color: #E80C7A;
    cursor: poninter;
}

@media only screen and (max-width: 560px) {
    .navbar {
        height: 96px;
    }

    .navheader {
        font-size: 1.8em;
    }

    .navheader .navicons {
        font-size: auto;
    }
}

@media only screen and (max-width: 300px) {
    .navbar {
        height: 172px;
    }

    .navheader {
        flex-direction: column;
        align-items: flex-start;
    }

    .navitems {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 200px) {
    .navicons {
        display: none;
    }
}